<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/aadhar logo.jpg" alt="aadhar logo" style="width: 130px" />
                    </div>
                    <h1 class="text-center">Signup Here</h1>

                    <!-- {{ user | json }} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="user.username" name="username" type="text" matInput placeholder="Enter the username" required />
                            <mat-hint>Username must be unique</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Userpassword</mat-label>
                            <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter the password" required />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input [(ngModel)]="user.firstname" name="firstname" type="text" matInput placeholder="Enter the firstname" required />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input [(ngModel)]="user.lastname" name="lastname" type="text" matInput placeholder="Enter the lastname" required />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter the email" required />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input [(ngModel)]="user.phone" name="phone" type="text" matInput placeholder="Enter the phone number" required />
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">
                Signup
              </button>
                            <button style="margin-left: 20px" mat-raised-button color="accent">
                clear
              </button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>