<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">
                <mat-card style="margin-top: 100px">
                    <div class="container text-center">
                        <img src="../../../assets/aadhar logo.jpg" alt="aadhar logo" style="width: 130px" />
                    </div>
                    <h1 class="text-center">Login Here</h1>
                    <!-- {{ loginData | json }} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="loginData.username" name="username" type="text" matInput placeholder="Enter the username" required />
                            <mat-hint>Username must be unique</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="loginData.password" name="password" type="password" matInput placeholder="Enter the password" required />
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">
                Login
              </button>
                            <button style="margin-left: 20px" mat-raised-button color="accent">
                Reset
              </button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>